@import "tailwindcss";

/* For Headings / Logo - italiana */

/* For Body / Labels  instrument sans*/

/* For Descriptions / Quotes - lora*/

/**
Cream (background) - Page background
Warm White -	Button text, highlights
Charcoal -	Headings, primary text
Terracotta -	Accents, heart icon, decorative lines
Sage Green -	Secondary accent
Muted Brown	-	Subtitles, labels, muted text
Light Grey	-	Borders, dividers, input strokes
Soft Cream	-	Avatar backgrounds, subtle surfaces
**/

@theme {
  --font-heading: "Italiana", sans-serif;
  --font-label: "Instrument Sans", sans-serif;
  --font-desc: "Lora", serif;

  --color-cream: hsl(30, 45%, 96%);
  --color-warm-white: hsl(30, 100%, 98%);
  --color-charcoal: hsl(60, 5%, 21%);
  --color-terracotta: hsl(14, 48%, 54%);
  --color-sage-green: hsl(100, 14%, 59%);
  --color-muted-brown: hsl(25, 13%, 49%);
  --color-light-grey: hsl(30, 10%, 86%);
  --color-soft-cream: hsl(25, 27%, 92%);
}

.container {
  @apply max-w-6xl mx-auto px-4;
}

.navbar {
  @apply mt-2 flex justify-between items-center py-4 px-2 border-y border-light-grey;
}

.logo {
  @apply font-heading text-2xl sm:text-3xl;
}

.nav_links_container {
  @apply hidden sm:flex sm:gap-8;
}

.nav_link {
  @apply uppercase text-sm;
}

.hero_left_side {
  @apply sm:w-3/5 px-2;
}

.hero_heading {
  @apply text-6xl sm:text-8xl font-heading mb-6 sm:mb-8;
}

.hero_sub_heading {
  @apply text-5xl sm:text-8xl font-desc italic;
}

.hero_paragraph {
  @apply font-label text-muted-brown text-sm sm:text-lg mb-6;
}

.hero_btn {
  @apply relative px-6 sm:px-8 py-2 sm:py-3 border-2 border-muted-brown rounded-md uppercase text-xs sm:text-sm cursor-pointer hover:bg-muted-brown hover:text-warm-white transition-all duration-300 ease-in-out active:scale-90;
}

.hero_btn_border {
  @apply absolute -top-2 left-0 bg-terracotta h-0.5 w-3/5;
}

.hero_right_side {
  @apply sm:w-2/5 px-2 py-6 sm:py-0 flex justify-center items-center;
}
