@import "tailwindcss";

/* For Headings / Logo - italiana */

/* For Body / Labels  instrument sans*/

/* For Descriptions / Quotes - lora*/

/**
Cream (background) - Page background
Warm White -	Button text, highlights
Charcoal -	Headings, primary text
Terracotta -	Accents, heart icon, decorative lines
Sage Green -	Secondary accent
Muted Brown	-	Subtitles, labels, muted text
Light Grey	-	Borders, dividers, input strokes
Soft Cream	-	Avatar backgrounds, subtle surfaces
**/

@theme {
  --font-heading: "Italiana", sans-serif;
  --font-label: "Instrument Sans", sans-serif;
  --font-desc: "Lora", serif;

  --color-cream: hsl(30, 45%, 96%);
  --color-warm-white: hsl(30, 100%, 98%);
  --color-charcoal: hsl(60, 5%, 21%);
  --color-terracotta: hsl(14, 48%, 54%);
  --color-sage-green: hsl(100, 14%, 59%);
  --color-muted-brown: hsl(25, 13%, 49%);
  --color-light-grey: hsl(30, 10%, 86%);
  --color-soft-cream: hsl(25, 27%, 92%);
}

.container {
  @apply max-w-6xl mx-auto px-4;
}

.navbar {
  @apply mt-2 flex justify-between items-center py-4 border-y border-light-grey;
}

.logo {
  @apply font-heading text-2xl sm:text-3xl;
}

.nav_links_container {
  @apply hidden sm:flex sm:gap-8;
}

.nav_link {
  @apply uppercase text-sm;
}
